{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="/">Back to your todo list</a>
    <h2 class="page-header">Edit your task: </h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}